<div class="container-fluid">
<h3>Login</h3>

<form #userForm="ngForm">
<div class="form-group">
  <div>
  <label>Email</label>
  <input type="email" #email="ngModel" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" name="email" required [(ngModel)]="user.email" [class.is-invalid]="email.invalid && email.touched">
</div>
<small *ngIf="email.invalid && email.touched" class="text-danger">Required</small>


<div >
  <label>Password</label>
  <input type="password" #password="ngModel" class="form-control" name="password" required [(ngModel)]="user.password"  [class.is-invalid]="password.invalid && password.touched">
</div>
<small *ngIf="password.invalid && password.touched" class="text-danger">Required</small>


</div>

<button [disabled]="userForm.form.invalid" class="btn btn-success" type="submit"(click)=onLogin(email,password)>Submit</button>

</form>




</div>
<div class="container">
<button class="btn btn-primary" type="submit" (click)=signup()>Sign-Up</button>
</div>
